.amenities-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amenities-modal-content {
    background: var(--white);
    border-radius: 25px;
    max-width: 750px;
    width: 90%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 30px #a7a7a7
}

.btnX-amenities-modal {
    position: sticky;
    top: 0;
    background: var(--white);
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 24px;
    flex-shrink: 0;
}

.amenities-modal-close {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.amenities-modal-body {
    padding: 16px 24px;
    flex-grow: 1;
    overflow-y: auto;
}

.amenities-modal-list-full {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.amenity-item {
    display: flex;
    align-items: center;
    gap: 8px;
}
@media (max-width: 480px) {
    .amenities-modal-content {
        width: 100%;
        height: 100vh;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        flex-direction: column;
    }

    .btnX-amenities-modal {
        position: sticky;
        top: 0;
        background: var(--white);
        z-index: 10;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 16px;
        flex-shrink: 0;
    }

    .amenities-modal-close {
        width: 24px;
        height: 24px;
        font-size: 14px;
    }

    .amenities-modal-body {
         height: 100vh;
        padding: 0 16px;
        flex-grow: 1;
    }
}