.app-footer {
    position: relative;
    max-width: 100%;
    
    hr {
        position: absolute;
        bottom: 70px;
        right: 0;
        left: 0;
        width: 95%;
        border: 0;
        border-bottom: 1px solid var(--gray-light);
    }
    
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-gray);
        border-top: 1px solid var(--gray-light);
        min-height: 3.5rem;
        font-size: 0.938rem;
        font-weight: 400;
        padding: 1.9rem 2rem;
        margin-top: 2em;
    }

    p {
        margin: 0;

        span {
            font-weight: 300;
            font-size: .875rem;
        }
    }

    >span {
        /* font-size: .8em; */

        &.local-services {
            color: var(--clr1);
        }

        &.remote-services {
            color: var(--gray-light);
        }
    }
   
    .footer-left,
    .footer-right {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    
    .footer-right {
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 20px;
            margin: 0;
            padding: 0;
        }
    
        li {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    
        svg {
            width: 16px;
            height: 16px;
            display: block;
        }
    }
}



@media (max-width: 425px) {
    .app-footer{
        margin-bottom: 125px;
    }
}