
.app-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--gray-light-hover);
    min-height: 3.5rem;
    font-size: 0.875rem;
    padding: .8rem 1rem;
    

    p {
        margin: 0;
    }
    
    > span {
        /* font-size: .8em; */
        
        &.local-services {
            color: var(--clr1);
        }
        
        &.remote-services {
            color: var(--gray-light);
        }
    }
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  gap: 12px;
  
}


.footer-right{
    ul{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    
    li{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    svg{
        width: 16px;
        height: 16px;
        display: block;
    }
}