.app-header {
    display: grid;
    justify-items: center;
    gap: 1.4em;
    /* min-height: 3.5rem; */

    background-color: var(--white);
    padding: .8rem 1rem 1.5rem;
    border-bottom: 1px solid var(--gray-light);

    & .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;

        width: 100%;
        color: var(--gray);
        font-size: .9em;

        .nav-middle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5em;

            font-weight: 300;
            letter-spacing: .2px;
        }


        a:hover {
            text-decoration: none;
        }

        a.active:not(.logo) {
            font-weight: 600;
            color: var(--black);
            border-bottom: 2px solid var(--black);
        }

        .logo {
            font-size: 1.4em;
            font-weight: 500;
            margin-inline-start: 1em;
            color: var(--clr1);
        }

        .login-link {
            margin-inline-start: auto;
        }

        & button {
            margin-inline-end: 0;
        }
    }


    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--black);

        .score {
            padding: 8px;
            background-color: var(--clr1);
            border-radius: 50%;
            margin: 10px;

            color: var(--white);
        }

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }

    .selection {
        display: flex;
        justify-content: space-evenly;
        gap: 0em;

        border-radius: 50px;
        box-shadow: 0px 5px 20px 2px var(--gray-light-hover);
        border: 1.5px solid var(--gray-light-hover);

        
        section {
            display: flex;
            flex-direction: column;
            
            padding: 12px 30px;
            width: 250px;
               
            &:not(:last-child) {
                border-right: 1px solid var(--gray-light-hover);
            }
            
            p {
                font-size: .8rem;
                font-weight: 500;
                margin-bottom: .2em;
            }
            
            span {
                color: var(--gray);
                font-size: .9rem;
                font-weight: 300;
                letter-spacing: .4px;
            }
        }
    }
}