.app-header {
    display: grid;
    justify-items: center;
    gap: 1.4em;
    /* min-height: 3.5rem; */

    background-color: var(--white);
    padding: .8rem 1rem 1.5rem;
    border-bottom: 1px solid var(--gray-light);

    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;

        width: 100%;
        color: var(--gray);
        font-size: .9em;

        .logo {
            font-size: 1.4em;
            font-weight: 600;
            margin-inline-start: 1.5em;
            color: var(--clr1);
        }

        a:hover {
            text-decoration: none;
        }

        a.active:not(.logo) {
            font-weight: 600;
            color: var(--black);
            border-bottom: 2px solid var(--black);
        }

        .nav-middle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5em;

            font-weight: 300;
        }

        .nav-end {
            display: flex;
            gap: .5em;

            margin-inline-end: 1em;

            .btn-menu {
                padding-block: .7em;
                font-size: 1rem;
                border-radius: 2em;
                color: var(--black);
                background-color: var(--white-gray);
                transition: .2s;
                /* margin: 0; */

                display: flex;
                align-items: center;

                &:hover {
                    background-color: var(--gray-light-hover);
                }
            }

            .menu-wrapper {
                position: relative;
                display: inline-block;
            }

            .login-link {
                margin-inline-start: auto;
            }

            .menu-dropdown {
                position: absolute;
                right: 0;

                background-color: var(--white);
                min-width: 230px;
                box-shadow: 0 0px 16px var(--gray-light-hover);
                border-radius: 16px;
                padding: 4px 0;
                z-index: 100;

                display: flex;
                align-items: center;
                flex-direction: column;

                hr {
                    border: 0;
                    border-top: 1px solid var(--gray-light-hover);
                    margin: 4px 0;
                    width: 85%;
                }

                .menu-item.logout-btn {
                    margin: 0;
                }
            }

            .menu-item {
                padding: 12px 20px;
                text-decoration: none;
                color: var(--black);
                font-size: 14px;
                text-align: left;
                background: none;
                border: none;
                width: 100%;

                &:hover {
                    background-color: var(--white-gray);
                }
            }
        }

    }

    .selection {
        display: flex;
        justify-content: space-evenly;
        gap: 0em;

        position: relative;
        border-radius: 50px;
        box-shadow: 0px 5px 20px 0px var(--gray-light-hover);
        border: 1.5px solid var(--gray-light-hover);

        .select-where,
        .select-when {
            display: flex;
        }

        .select-where,
        .select-when,
        .select-who {
            cursor: pointer;

            &:hover {
                border-radius: 50px;
                background-color: var(--gray-light-hover);
            }
        }

        .v-line {
            border-right: 1px solid var(--gray-light-hover);
            height: 30px;
            margin-block: 15px;
            /* align-self: center; */
        }

        .sec {
            display: flex;
            flex-direction: column;

            padding-block: 12px;
            padding-inline-start: 30px;
            width: 250px;

            p {
                font-size: .8rem;
                font-weight: 600;
                margin-bottom: .2em;
            }

            span {
                color: var(--gray);
                font-size: .85rem;
            }
        }

        .sec-search {
            position: absolute;
            right: 10px;
            top: 7px;
            font-size: 1.1rem;
            color: var(--white);
            padding-top: .8em;
            padding-bottom: .6em;
            padding-inline: .8em;
            border-radius: 50%;
            background-color: var(--clr1);

        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--black);

        .score {
            padding: 8px;
            background-color: var(--clr1);
            border-radius: 50%;
            margin: 10px;






            color: var(--white);
        }

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}