.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0;

    position: sticky;
    z-index: 25;
    top: 0;
    width: 100%;

    background-color: var(--white);
    padding: .3rem 0 1.9rem;
    border-bottom: 1px solid var(--gray-light);
    transition: min-height 0.2s cubic-bezier(0.2, 0, 0, 1), padding 0.4s ease;

    &.static-header {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
    }

    &.compact {
        /* min-height: 80px; */
        padding: 0.6rem 0 .4rem;

        .selection {
            max-height: 0;
            padding: 0;
            transform: scale(0.3) translateY(-40px);
            pointer-events: none;
            visibility: hidden;
            margin: 0;
            opacity: 0;
            overflow: hidden;
        }
    }


    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding-inline: 18px;
        /* max-width: 1440px; */
        margin: 0 auto;
        color: var(--gray);
        font-size: .9em;

        .logo {
            display: flex;
            align-items: center;
            gap: 5px;

            font-size: 1.4em;
            font-weight: 600;
            /* margin-inline-start: 2rem; */
            color: var(--clr1);

            img {
                height: 40px;
            }
        }

        a:hover {
            text-decoration: none;
        }

        a.active:not(.logo) {
            position: relative;
            font-weight: 600;
            padding-block: 19px;
            color: var(--black);

            hr {
                position: absolute;
                bottom: 0;
                width: 100%;
                border-radius: 10px;
                border: 0;
                border-bottom: 3px solid var(--black);
            }
        }

        .nav-middle {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5em;

            min-height: 48px;
            font-weight: 300;

            .search-bar-mini {
                display: flex;
                align-items: center;
                padding: 6px 8px 6px 18px;
                border: 1px solid var(--gray-light-hover);
                border-radius: 40px;
                background-color: var(--white);
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                transition: box-shadow 0.2s;

                &:hover {
                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
                }

                .label {
                    color: var(--black);
                    font-size: 14px;
                    font-weight: 500;

                    &.guests {
                        font-weight: 500;
                    }
                }

                .v-line {
                    height: 20px;
                    border-left: 1px solid var(--gray-light-hover);
                    margin: 4px 12px;
                }

                .search-icon {
                    background-color: var(--clr1);
                    color: var(--white);
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    margin-inline-start: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        font-size: 1rem;
                    }
                }
            }

            .nav-links-wrapper {
                display: flex;
                gap: 1.5em;
                position: relative;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    padding-inline: 2px;
                }

                img {
                    height: 35px;
                }
            }

            a {
                &:hover {
                    color: var(--black);
                }
            }
        }

        .nav-end {
            display: flex;
            gap: .5em;

            /* margin-inline-end: 2em; */

            .menu-wrapper {
                position: relative;
                display: flex;
                align-items: center;

                img {
                    object-fit: cover;
                    width: 39px;
                    height: 39px;
                    border-radius: 50%;
                    cursor: pointer;
                    margin-inline: .1em;
                }

                .btn-menu {
                    width: 41px;
                    height: 41px;
                    font-size: 1rem;
                    border-radius: 2em;
                    color: var(--black);
                    background-color: var(--white-gray);
                    transition: .2s;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        stroke-width: 2;
                    }

                    &:hover {
                        background-color: var(--gray-light-hover);
                    }
                }
            }

            .login-link {
                margin-inline-start: auto;
            }

            .menu-dropdown {
                position: absolute;
                top: 63px;
                right: 0;

                background-color: var(--white);
                min-width: 230px;
                box-shadow: 0 0px 16px var(--gray2);
                border-radius: 16px;
                padding: 15px 0;
                z-index: 100;

                display: flex;
                align-items: center;
                flex-direction: column;

                hr {
                    border: 0;
                    border-top: 1px solid var(--gray-light-hover);
                    margin: 4px 0;
                    width: 87%;
                }

                .wishlist-link {

                    .wishlist-icon {
                        font-size: 1.1rem;
                    }

                    .wishlist-span {
                        font-weight: 500;
                    }

                }

                .trip-link {
                    align-items: center;
                    gap: 4px;
                    padding: 12px 25px 12px 25px;
                    padding-inline-start: 20px;

                    .trip-icon {
                        object-fit: cover;
                        height: 22px;
                        width: auto;
                    }

                    .trip-span {
                        font-weight: 500;
                    }
                }

                .profile-link {
                    gap: 10px;

                    .profile-icon {
                        font-size: 1.1rem;
                    }

                    .profile-span {
                        font-weight: 500;
                    }
                }
            }

            .divider {
                width: 80%;
                border-top: 1px solid var(--gray-light-hover);
                margin: 7px 0 12px;
            }

            .menu-item {
                cursor: pointer;
                padding: .4em .1em;
                text-decoration: none;
                color: var(--black);
                font-size: .84rem;
                text-align: left;
                background: none;
                border: none;
                width: 100%;
                font-weight: 400;
                padding: 12px 25px 12px 25px;

                display: flex;
                gap: 8px;
                align-items: center;

                &.logout-btn {
                    margin: 0;
                    letter-spacing: .2px;
                    font-size: .91rem;
                    padding-block: 6px;
                }

                &:hover {
                    background-color: var(--white-gray);
                }

                &.user-img-link {
                    padding-inline: 0;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .calendar-dropdown {
        position: absolute;
        top: 75px;
        left: 50%;
        width: 300%;
        transform: translateX(-50%);
        background: var(--white);
        box-shadow: 0px 5px 32px rgba(0, 0, 0, 0.15);
        border-radius: 32px;
        z-index: 10;
        padding: 20px;
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--black);

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    cursor: default;
}

.scroll-sentinel {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    pointer-events: none;
}

@media(min-width: 1280px) {

    .app-header {
        grid-column: 1 / -1;
        /* .header-nav {
            .logo {
                margin: 0;
            }
            .nav-end {
                margin: 0;
            }
        } */

    }
}

@media(max-width: 1000px) {
    .app-header {
        display: flex;

        .header-nav {
            gap: 0;
        }
    }
}

@media (max-width: 575px) {
    .app-header {

        &.compact {
            padding: 0;
        }

        .header-nav {
            gap: 5px;

            .logo span {
                display: none;
            }

            img {
                height: 20px;
            }
        }

        & .header-nav {
            & .nav-middle {
                & .search-bar-mini {
                    padding: .3em 0;
                    margin: 0;
                    padding-left: 12px;

                    .label {
                        color: var(--black);
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }

        .nav-links-wrapper a {
            display: none;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}