.gallery {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 16px;
    gap: 8px;
    height: 353px;
}

.gallery-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    height: 353px;
}

.left-img {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 353px;
}

.gallery-main,
.gallery-side>div {
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery img:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.btn-photos {
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 7px 15px;
    background-color: var(--white);
    color: var(--black);
    border: solid 1px var(--black);
    border-radius: 8px;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}


.btn-photos {
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 7px 15px;
    background-color: var(--white);
    color: var(--black);
    border: solid 1px var(--black);
    border-radius: 8px;
    z-index: 10;

    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.top-right {
    border-top-right-radius: 16px;
}

.bottom-right {
    border-bottom-right-radius: 16px;
}

@media (max-width: 743px) {
    .all-stay-details {
        grid-template-columns: 1fr;
    }

    .stay-details {
        padding: 0;
        overflow: hidden;
    }

    .gallery {
        grid-template-columns: 1fr;

        width: 100%;
        max-width: 710px;
        padding: 0;

        overflow: hidden;
        border-radius: 0;
    }

    .gallery-side,
    .btn-photos {
        display: none;
    }

    .gallery-main {
        max-width: 710px;
        overflow: hidden;
    }

    .left-img {
        width: 100%;
        height: auto;
        max-height: 60vh;
        object-fit: cover;
        display: block;
        overflow: hidden;
        border-radius: 0;

    }

    img {
        max-width: 710px;
        overflow: hidden;
    }
}

@media (max-width: 1120px) {
    .gallery {
        /* height: 499px; */
        aspect-ratio: 2 / 1;
        /* width: 100%; */
    }

    .gallery-side {
        height: 499px;
    }


}

@media (max-width: 450px) {

    .gallery-side {
        display: none;
    }
}