.info-bar-list {
    display: flex;
    gap: 16px;
    padding: 40px 80px;
    border-block: 1px solid var(--gray-light);


    .info-bar svg {
        width: 16px !important;
        height: 16px !important;

        display: block;
    }

    .info-bar-item {
        display: flex;
        flex-direction: column;
        flex: 1;

        gap: 8px;
        padding: 0 16px 4px;
        border-left: solid 1px var(--gray-light);

        font-weight: 500;
        font-size: 0.8rem;
    }

    .info-bar-item-1{
        display: flex;
        flex-direction: column;
        flex: 1;

        gap: 8px;
        padding: 0 16px 4px;

        font-weight: 500;
        font-size: 0.8rem;
    }

    .bar {
        flex: 1;
        height: 4px;
        background-color: var(--gray-light);
        border-radius: 4px;
        margin: 1px;

    }

    .bar.filled {
        background-color: var(--black);
    }

}

.info-rating {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100px;
}

.rating-row {
    display: flex;
    align-items: center;
    gap: 5px;
    /* font-size: 1px; */
}

.rating-number {
    width: 20px;
    text-align: right;
    font-weight: 400;
    font-size: 0.6rem;
}

@media (max-width: 743px){
    .info-bar-list {
        display: none;
    }
}