.login-form,
.signup-form {
	display: grid;
	margin: auto;
}

.signup-form {
	>input {
		width: 100%;
		margin: 0.4em 0;
	}

	.admin-toggle {
		display: flex;
		align-items: center;
		justify-self: start;

		>span {
			font-size: .8em;
		}
	}
}

.login-page nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;

	margin-block: 100px 0.5em;


	> a {
		font-size: 0.8em;
		color: var(--gray-light);

		&:hover {
			color: var(--clr1);
		}

		&.active {
			text-decoration: underline;
			color: var(--clr1);
		}
	}
}