.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.login-form,
.signup-form {
    display: grid;
    margin: auto;
}

.login-modal {
    background: var(--white);
    width: 100%;
    max-width: 568px;
    max-height: 90vh;
    border-radius: 30px;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);

    .modal-header {
        /* overflow: scroll; */
        display: flex;
        align-items: center;
        padding: 0 5px;
        min-height: 64px;
        border-bottom: 1px solid var(--gray-light);
        position: relative;

        .btn-close {
            background: none;
            border: none;
            color: var(--black);
            font-size: 20px;
            cursor: pointer;
            padding: 8px;
            border-radius: 50%;

            display: flex;
        }

        span {
            flex: 1;
            text-align: center;
            font-weight: 600;
            margin-right: 32px;
        }
    }

    .modal-body {
        padding: 24px;

        h2 {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 24px;
        }

        .inputs-container {
            border: 1px solid var(--gray2);
            border-radius: 8px;

            .input-box {
                padding: 10px 12px;
                display: flex;

                label {
                    font-size: .8rem;
                    color: var(--gray);
                    font-weight: 400;
                }

                select,
                input {
                    border: none;
                    outline: none;
                    font-size: .95rem;
                    padding-top: 4px;
                    width: 100%;
                }

                &.top {
                    border-bottom: 1px solid var(--gray2);
                    flex-direction: column;

                    &:has(input[type="email"]) {
                        padding: 14px 12px;
                        border-bottom: none;
                    }
                }

                &.bottom {
                    padding-block: 10px;
                    flex-direction: column;

                    section {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        margin-top: .2em;
                        font-weight: 400;

                        span {
                            font-size: .9rem;
                            margin-top: 0;
                        }

                        input {
                            padding: 0;
                        }
                    }

                }
            }
        }

        .policy-text {
            font-size: 12px;
            margin: 8px 0 10px;
            line-height: 16px;
            font-weight: 400;

            a {
                font-weight: 600;
                text-decoration: underline;
                color: var(--black);
            }
        }

        .btn-continue {
            margin: auto;
            width: 100%;
            background: linear-gradient(to right, var(--clr1), var(--clr1-hover));
            color: var(--white);
            border: none;
            padding: 14px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: .5px;
            cursor: pointer;
        }

        .divider {
            margin: 5px 0;
            text-align: center;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                border-top: 1px solid var(--gray-light);
            }

            span {
                background: var(--white);
                padding: 0 16px;
                position: relative;
                color: var(--gray);
                font-size: 12px;
            }
        }

        .social-logins {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .social-btn {
                width: 100%;
                background: var(--white);
                border: 1px solid var(--black);
                padding: 14px 10px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                cursor: pointer;
                position: relative;

                .icon {
                    font-size: 20px;
                    position: absolute;
                    left: 24px;
                    color: var(--black);
                }

                span {
                    font-weight: 200;
                    flex: 1;
                    font-size: .9rem;
                    text-align: center;
                    color: var(--black);
                }

                &:hover {
                    background: var(--gray-light-hover);
                }
            }
        }
    }
}

.signup-modal {
    display: flex;
    flex-direction: column;

    width: 568px;
    margin: auto;

    height: 80vh;
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    background-color: var(--white);

    .modal-body {
        overflow-y: auto;
        flex-grow: 1;
        padding: 10px 24px 30px;
        /* padding: 0 24px 24px; */

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--gray2);
            border-radius: 10px;
        }

        .sec-checkbox {
            display: flex;
            align-items: center;
            gap: 5px;

            color: var(--gray);
            font-size: .7rem;
            font-weight: 400;
        }

        .p-notification {
            margin-top: 1.8rem;
            margin-bottom: 1.1rem;
        }

        .divider {
            margin-top: 1.2em;
            margin-bottom: 2.9em;
        }
    }

    .sec-name {
        display: flex;
        flex-direction: column;

        border: 1px solid var(--gray2);
        border-radius: 10px;
        overflow: hidden;

        .input-first-name {
            border-bottom: 1px solid var(--gray2);
        }
    }

    p {
        font-size: .7rem;
        color: var(--gray);
        font-weight: 400;
        margin-block: .6em;
    }

    input {
        font-size: .9rem;
        letter-spacing: .4px;
        outline: none;
        padding-block: 1.1em;
        border: 0;
        font-weight: 300;
        padding-inline-start: 10px;
        background-color: transparent;
    }

    label {
        display: block;
        font-weight: 500;
        margin-top: 1.2em;
        margin-bottom: 1em;
    }

    .input-date {
        border: 1px solid var(--gray2);
        border-radius: 10px;
        width: 100%;
        padding-inline-end: 15px;
        font-family: "Inter", sans-serif;
        padding-block: 1rem;
    }

    .input-email {
        margin: 0;
        border: 1px solid var(--gray2);
        border-radius: 10px;
    }
}