.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.login-form,
.signup-form {
    display: grid;
    margin: auto;
}

.login-modal {
    background: var(--white);
    width: 100%;
    max-width: 568px;
    max-height: 90vh;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);

    .modal-header {
        display: flex;
        align-items: center;
        padding: 0 5px;
        min-height: 64px;
        border-bottom: 1px solid var(--gray-light);
        position: relative;

        .btn-close {
            background: none;
            border: none;
            color: var(--var(--black));
            font-size: 20px;
            cursor: pointer;
            padding: 8px;
            border-radius: 50%;

            display: flex;
        }

        span {
            flex: 1;
            text-align: center;
            font-weight: 600;
            margin-right: 32px;
        }
    }

    .modal-body {
        padding: 24px;

        h2 {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 24px;
        }

        .inputs-container {
            border: 1px solid var(--gray2);
            border-radius: 8px;

            .input-box {
                padding: 10px 12px;
                display: flex;
                flex-direction: column;

                label {
                    font-size: 12px;
                    color: var(--gray);
                }

                select,
                input {
                    border: none;
                    outline: none;
                    font-size: 15px;
                    padding-top: 4px;
                    width: 100%;
                }

                &.top {
                    border-bottom: 1px solid var(--gray2);
                }
                &.bottom {
                    padding-block: 16px;
                }
            }
        }

        .policy-text {
            font-size: 12px;
            margin: 8px 0 10px;
            line-height: 16px;

            a {
                font-weight: 600;
                text-decoration: underline;
                color: var(--black);
            }
        }

        .btn-continue {
            width: 100%;
            background: linear-gradient(to right, var(--clr1), var(--clr1-hover));
            color: var(--white);
            border: none;
            padding: 14px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }

        .divider {
            margin: 5px 0;
            text-align: center;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                border-top: 1px solid var(--gray-light);
            }

            span {
                background: var(--white);
                padding: 0 16px;
                position: relative;
                color: var(--gray);
                font-size: 12px;
            }
        }

        .social-logins {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .social-btn {
                width: 100%;
                background: var(--white);
                border: 1px solid var(--black);
                padding: 12px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                cursor: pointer;
                position: relative;

                .icon {
                    font-size: 20px;
                    position: absolute;
                    left: 24px;
                    color: var(--black);
                }

                span {
                    flex: 1;
                    text-align: center;
                    font-weight: 600;
                    color: var(--black);
                }

                &:hover {
                    background: var(--gray-light-hover);
                }
            }
        }
    }
}