
button {
	padding: .5em .8em;
	border: 0;
	margin: .5em;
	cursor: pointer;
	background-color: var(--gray-light);
	color: var(--black);
}

button:hover {
	transition: 0.3s;
	background-color: var(--gray-light-hover)
}
