.order-page {
    display: grid;
    grid-template-columns: 130px 1fr 80px 1fr 130px;
    grid-template-rows: 100px 1fr 20px;
    /* height: 100%; */
    position: relative;

    header {
        grid-column: 2 / 3;
        grid-row: 1;
        display: flex;
        align-items: center;

        h1 {
            margin: 0;
        }

    }

    .btn-back {
        justify-self: end;
        grid-column: 1;
        grid-row: 1;
        background-color: var(--white-gray);
        margin: 2em 1.2em .7em 0;
        padding: 3px 2px 0 3px;
        font-size: 1rem;
        font-weight: 200;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .order-content {
        grid-column: 2 / 5;
        display: contents;

        .form-pay {
            position: relative;
            grid-row: 2 / 3;
            grid-column: 2 / 3;

            padding: 1.5em 2em;
            margin-block-end: 4.5em;
            border-radius: 25px;
            border: 1px solid var(--white-gray);
            box-shadow: 0px 3px 20px 0px var(--gray-light);

            .card {
                p {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    font-weight: 400;
                    font-size: .9rem;
                }
            }

            .card-details {
                display: flex;
                flex-direction: column;

                border: 1px solid var(--gray2);
                border-radius: 12px;
                margin: 1.5em 0 0;

                .card-name {
                    border-bottom: 1px solid var(--gray2)
                }

                div {
                    display: flex;

                    .validity {
                        border-right: 1px solid var(--gray2);
                    }
                }
            }

            .zip-code {
                margin-block: 1.5em;
                border: 1px solid var(--gray2);
                border-radius: 12px;
            }

            input {
                border: 0;
                width: 100%;
                background-color: transparent;
                padding: 1.4em;
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                select {
                    padding: 12px 18px;
                    border: 1px solid var(--gray2);
                    border-radius: 12px;
                    cursor: pointer;
                }

                button {
                    margin: 0;
                    border-radius: 12px;
                    padding: 15px 20px;
                    font-size: .8rem;
                    background-color: var(--black);
                    color: var(--white);
                }
            }
        }

        .order-summary {
            grid-row: 2 / 3;
            grid-column: 4 / 5;

            padding: 1.5em;
            margin-block-end: 1em;
            border-radius: 25px;
            border: 1px solid var(--gray-light-hover);

            hr {
                border: .5px solid var(--white-gray);
                margin-block: 1em;
            }

            .stay-preview-info {
                display: flex;
                align-items: center;
                gap: 20px;

                margin-bottom: 20px;

                img {
                    width: 100px;
                    height: 100px;
                    max-width: inherit;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            h5 {
                font-size: .875rem;
                margin-bottom: .4em;
            }

            span {
                font-weight: 300;
                font-size: .8rem;
            }

            .payment-row {
                display: flex;
                justify-content: space-between;

                font-weight: 300;
                font-size: .85rem;
            }

            .total {
                display: flex;
                justify-content: space-between;

                padding-block: .4em;

                span {
                    font-weight: 600;
                    font-size: .875rem;
                }
            }

            h2 {
                padding: 0 60px;
                color: var(--success);
                text-align: center;
                font-size: 1rem;
                font-weight: 100;
            }
        }
    }

    .success-msg {
        margin-top: 20px;
        color: green;
        font-weight: bold;
    }
}

@media (max-width: 950px) {
    .order-page {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .btn-back {
            position: absolute;
            left: calc(50% - 200px - 30px);
            transform: translateX(-100%);
        }

        header {
            grid-column: inherit;

            grid-template-columns: 1fr 400px 1fr;
            grid-template-rows: 90px;

            margin: 35px auto 25px;
            padding-inline-end: 160px;

            h1 {
                font-size: 1.9em;
            }
        }

        .order-content {
            grid-column: 1/ 2;

            display: flex;
            flex-direction: column-reverse;
            gap: 40px;

            margin: 0 auto;
            width: 400px;
        }
    }
}

@media (max-width: 745px) {

    body:has(.order-page) {
        .app-header {
            display: none;
        }
    }

    .order-page {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        .btn-back {
            position: fixed;
            top: 15px;
            right: 10px;

            font-size: .9rem;
            color: var(--black);
            margin: 0;
            background-color: transparent;
        }

        header {
            padding: 50px 0 20px 20px;
            margin: 0;

            h1 {
                font-size: 1.6rem;
            }
        }

        .order-content {
            width: 100%;
            padding-inline: 15px;
            gap: 10px;
        }
    }
}