.order-page {
    display: grid;
    grid-template-columns: 130px 1fr 80px 1fr 130px;
    grid-template-rows: 100px 1fr 20px;
    height: 100%;
    position: relative;

    header {
        grid-column: 2 / 3;
        grid-row: 1;
        display: flex;
        align-items: center;
        /* justify-content: center; */

        h1 {
            margin: 0;
        }

    }

    .btn-back {
        justify-self: end;
        grid-column: 1;
        grid-row: 1;
        background-color: var(--white-gray);
        margin: 2em 1.2em .7em 0;
        padding: 3px 2px 0 3px;
        font-size: 1rem;
        font-weight: 200;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .order-content {
        grid-column: 2 / 5;
        display: contents;

        .form-pay {
            position: relative;
            grid-row: 2 / 3;
            grid-column: 2 / 3;

            padding: 1.5em 2em;
            margin-block-end: 1em;
            border-radius: 25px;
            border: 1px solid var(--white-gray);
            box-shadow: 0px 3px 20px 0px var(--gray-light);

            .card {
                p {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    font-weight: 400;
                    font-size: .9rem;
                }
            }

            .card-details {
                display: flex;
                flex-direction: column;

                border: 1px solid var(--gray2);
                border-radius: 12px;
                margin: 1.5em 0 0;

                .card-name {
                    border-bottom: 1px solid var(--gray2)
                }

                div {
                    display: flex;

                    .validity {
                        border-right: 1px solid var(--gray2);
                    }
                }
            }

            .zip-code {
                margin-block: 1.5em;
                border: 1px solid var(--gray2);
                border-radius: 12px;
            }

            input {
                border: 0;
                width: 100%;
                background-color: transparent;
                padding: 1.4em;
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                select {
                    padding: 12px 18px;
                    border: 1px solid var(--gray2);
                    border-radius: 12px;
                    cursor: pointer;
                }

                button {
                    margin: 0;
                    border-radius: 12px;
                    padding: 15px 20px;
                    font-size: .8rem;
                    background-color: var(--black);
                    color: var(--white);
                }
            }
        }

        .order-summary {
            grid-row: 2 / 3;
            grid-column: 4 / 5;

            padding: 1.5em 2em;
            margin-block-end: 1em;
            border-radius: 25px;
            border: 1px solid var(--gray-light-hover);

            hr {
                color: var(--white-gray);
            }

            .stay-preview-info {
                display: flex; 
                align-items: center;
                gap: 20px;

                margin-bottom: 20px;

                img {
                    width: 100px;
                    height: 100px;
                    aspect-ratio: 1 / 1;
                    object-fit: cover ;
                    border-radius: 10px;
                }
            }

            .payment-row {
                display: flex; 
                justify-content: space-between;

                font-weight: 400;
                font-size: .9rem;
            }

            h2 {
                padding: 0 60px;
                color: var(--success);
                text-align: center;
                font-size: 1rem;
                font-weight: 100;
            }
        }
    }
}