:root {
  --clr1: #ff385c;

  --clr1-light: color-mix(in lab, var(--clr1), white 15%);

  --white: #FFFFFF;
  --gray-light: #EBEBEB;
  --gray-light-hover: #DDDDDD;
  --gray: #6A6A6A;
  --black: #222222;

  --success: rgb(41, 189, 73);
  --error: rgb(216, 59, 59);
}