.reviews-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;


    .reviews-modal-content {
        background: var(--white);
        border-radius: 25px;
        max-width: 750px;
        width: 90%;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }



    .reviews-modal-body {
        padding: 16px 24px;
        flex-grow: 1;
        overflow-y: auto;
    }

    .reviews-modal-list-full {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    @media (max-width: 480px) {
        .reviews-modal-content {
            width: 100%;
            height: 100vh;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            display: flex;
            flex-direction: column;
        }

        .btnX-reviews-modal {
            position: sticky;
            top: 0;
            background: var(--white);
            z-index: 10;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 12px 10px 0;
            flex-shrink: 0;
        }

        .reviews-modal-close {
            width: 24px;
            height: 24px;
            font-size: 14px;
        }

        .reviews-modal-body {
            height: 100vh;
            padding: 0 16px;
            flex-grow: 1;
        }



    }
}

.btnX-reviews-modal {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 24px;
    flex-shrink: 0;
}

.reviews-modal-close {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: var(--white-gray);
    }
}