.wishlist-page {
    padding: 50px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            padding: 6px 18px 10px 18px;
        }
    }

    p {
        padding-inline: 18px;
    }

    .saved-list {
        --min-column-size: 180px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--min-column-size), 1fr));
        gap: 2rem;

        margin-top: 0;
        padding-inline: 18px;

        li {
            position: relative;

            .stay-info p {
                padding-inline-start: 2px;
            }
            img {
                transition: .2s;
            }

            &:hover {
                button {
                    opacity: 1;
                }
            }

            button {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                transition: .15s;

                border-radius: 1rem;
                box-shadow: 0px 2px 10px 0px var(--gray);
                padding: .3rem .3rem 0rem .3rem;
                font-size: 1.2rem;
                background-color: var(--white-gray);
                margin: .6rem;

                &:hover {
                    background-color: var(--white);
                    scale: 1.05;
                }
            }
        }
    }
}