
@import "setup/var.css";
@import "setup/typography.css";

@import "basics/helpers.css";
@import "basics/layout.css";
@import "basics/base.css";
@import "basics/forms.css";

@import "RootCmp.css";

@import "cmps/AboutUs.css";
@import "cmps/HomePage.css";
@import "cmps/LoginSignup.css";
@import "cmps/Chat.css";

@import "cmps/user/UserDetails.css";
@import "cmps/user/UserMsg.css";

@import "cmps/AppHeader.css";
@import "cmps/AppFooter.css";

@import "cmps/stay/StayIndex.css";
@import "cmps/stay/StayList.css";
@import "cmps/stay/StayPreview.css";
@import "cmps/stay/StayDetails.css";
@import "cmps/stay/StayDetailsPhotos.css";
@import "cmps/stay/StayDetailsHeader.css";
@import "cmps/stay/StayFilter.css";
@import "cmps/stay/OrderCard.css";


@import "cmps/review/ReviewEdit.css";
@import "cmps/review/ReviewList.css";
@import "cmps/review/ReviewPreview.css";

@import "cmps/ShareModal.css";
@import "cmps/AmenitiesModal.css";
@import "cmps/Calendar.css";
@import "cmps/GuestPicker.css";
@import "cmps/LoginModal.css";
@import "cmps/Loader.css";


@import "cmps/order/OrderPage.css";

