.all-stay-details {
    max-width: 100%;

    .divider {
        border-bottom: 0.8px solid var(--gray-light);
        margin: 5px 0;
        margin-bottom: 20px;
    }

}

.stay-details {
    padding: 0 80px;

    .heading {
        justify-content: space-between;
        align-items: center;
        padding: 22px 0 20px;

        .title {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 500;
        }

    }

    .share,
    .save {
        display: flex;
        align-items: center;
        gap: 7px;

        background: none;
        font-size: .9rem;
        font-weight: 300;
        margin: 0;

        span {
            text-decoration: underline;
        }

        svg {
            width: 18px;
        }

    }


    .sides {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 50px;

        .big-side {
            .description {
                padding: 25px 0 10px;
                position: relative;

                h2 {
                    margin-bottom: .2em;
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .meta-item {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    word-spacing: 2px;
                    font-size: .95rem;
                    font-weight: 500;
                    margin-top: 5px;

                    .reviews {
                        text-decoration: underline;
                    }
                }

                .guests {
                    margin: 0;
                    font-weight: 300;
                    letter-spacing: .15px;
                    font-size: .95rem;
                }
            }

            .amenities {
                list-style: none;
                /* margin-bottom: 48px; */

                .amenity-item {
                    display: flex;
                    align-items: center;

                    font-weight: 400;
                    padding-block: .5em;

                    svg {
                        stroke-width: 1.3;
                        height: 1.5em;
                        width: 1.5em;
                        margin: 0 8px 0 0;
                    }


                }
            }

            .booking-section {
                padding-top: 40px;

                h3 {
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                p {
                    font-size: .825rem;
                    font-weight: 400;
                    color: var(--gray);
                }

                .calendar-dropdown {
                    margin-bottom: 1rem;

                    .rdp-nav {

                        .rdp-chevron {
                            fill: var(--gray);

                            polygon {
                                transform: scaleX(0.8);
                                transform-origin: center;
                            }
                        }

                        button {
                            font-weight: 100;
                        }
                    }

                    .rdp-month {
                        .rdp-month_grid {
                            thead .rdp-weekdays th {
                                padding: 3em;
                            }

                            .rdp-week td {
                                padding: .5em;

                            }
                        }

                        button {
                            padding: 1.4em;
                        }
                    }
                }
            }
        }

    }

    .btn-amenities-more {
        background-color: var(--white-gray);
        width: 207px;
        height: 48px;
        padding: 14px 24px;
        margin: 10px 0;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    .btn-amenities-more:hover {
        background-color: var(--gray-light);
    }

    .description-p {
        padding: 20px 0;
        margin: 0;
        word-spacing: 1px;
        font-weight: 300;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .description-p.expanded {
        -webkit-line-clamp: unset;
    }

    .btn-description-more {
        background-color: var(--white-gray);
        height: 48px;
        padding: 14px 24px;
        margin: 10px 0;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    .btn-description-more:hover {
        background-color: var(--gray-light);
    }

    .title-place-offers {
        margin: 1.3em 0 .8em;
        font-weight: 500;
        font-size: 1.3rem;
    }

    .divider {
        border-bottom: 0.8px solid var(--gray-light);
        margin: 5px 0;
    }
}

.reviews,
.info-bar-list {
    padding: 30px 80px;
}

.amenities-columns {
    display: flex;
}

.amenities-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.amenity-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 316px;
}


@media (max-width: 1120px) {

    .stay-details,
    .reviews,
    .info-bar-list {
        padding-left: 40px;
        padding-right: 40px;
    }

    .stay-details .sides {
        gap: 40px;
    }

}

@media (max-width: 743px) {
    .all-stay-details{
        width: 100vw;
    }

    .stay-details-padding{
        padding: 24px;
    }

    .description{
        padding-top: 10px !important;
    }
    .stay-details,
    .reviews,
    .info-bar-list {
        padding-left: 24px;
        padding-right: 24px;

        .title {
            display: none;
        }
    }

    .heading {
        width: 100%;
        gap: 12px;
    }

    .btn-responsive {
        display: none !important;
    }

    .order-card {
        display: none;
    }

    .stay-details .sides {
        max-width: 500;
        display: block;
        /* grid-template-columns: 1fr;
        gap: 24px; */
    }


    .amenities-list+.amenities-list {
        display: none;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description::before {
        content: "";
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: var(--white);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
}

@media (max-width: 743px) {

    .stay-details,
    .reviews,
    .info-bar-list {
        padding-left: 16px;
        padding-right: 16px;
    }

    .stay-details {
        padding-bottom: 90px;
    }

    .stay-details .description h2,
    .stay-details .title-place-offers {
        font-size: 1.1rem;
    }

    .btn-photos {
        bottom: 12px;
        right: 12px;
        padding: 6px 12px;
    }


    .info-bar-list {
        flex-direction: row;
        padding: 16px;
        gap: 16px;
    }

    .info-bar-list .info-bar-item {
        flex: 1 1 100%;
        border-left: 1px solid var(--gray-light);
        padding: 5px 10px 5px;
    }

    .stay-details .share,
    .stay-details .save {
        font-size: 0.85rem;
    }

    .stay-details .share svg,
    .stay-details .save svg {
        width: 16px;
    }

    .stay-details .calendar-dropdown {
        .rdp-months {
            button {
                padding: 5px;
            }
        }
    }
}