.all-stay-details {
    .divider {
        border-bottom: 0.8px solid var(--gray2);
        margin: 5px 0;
    }
}

.stay-details {
    padding: 0 80px;

    .heading {
        justify-content: space-between;
        align-items: center;
        padding: 22px 0 20px;

        .title {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    .share,
    .save {
        display: flex;
        align-items: center;
        gap: 7px;

        background: none;
        font-size: .9rem;
        font-weight: 300;
        margin: 0;

        span {
            text-decoration: underline;
        }
    }

    .sides {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 80px;

        .big-side {
            .description {
                padding: 25px 0 10px;

                h2 {
                    margin-bottom: .2em;
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .meta-item {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    word-spacing: 2px;
                    font-size: .95rem;
                    font-weight: 500;
                    margin-top: 5px;

                    .reviews {
                        text-decoration: underline;
                    }
                }

                .guests {
                    margin: 0;
                    font-weight: 300;
                    letter-spacing: .15px;
                    font-size: .95rem;
                }
            }

            .amenities {
                list-style: none;
                margin-bottom: 48px;

                .amenity-item {
                    display: flex;
                    align-items: center;

                    font-weight: 400;
                    padding-block: .5em;

                    svg {
                        stroke-width: 1.3;
                        height: 1.8em;
                        width: 1.8em;
                    }


                }
            }
        }
    }

    .btn-amenities-more {
        background-color: var(--white-gray);
        width: 207px;
        height: 48px;
        padding: 14px 24px;
        margin: 10px 0;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    .btn-amenities-more:hover{
        background-color: var(--gray-light);
    }

    .description-p {
        padding: 20px 0;
        word-spacing: 1px;
        font-weight: 300;
    }

    .title-place-offers {
        margin: 1.3em 0 .8em;
        font-weight: 500;
        font-size: 1.3rem;
    }

    .divider {
        border-bottom: 0.8px solid var(--gray2);
        margin: 5px 0;
    }
}

.gallery {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 16px;
    gap: 8px;
    height: 353px;
}

.gallery-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    height: 353px;
}

.left-img {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 353px;
}


.gallery-main,
.gallery-side>div {
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery img:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.btn-photos {
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 7px 15px;
    background-color: var(--white);
    color: var(--black);
    border: solid 1px var(--black);
    border-radius: 8px;
    z-index: 10;
}

.top-right {
    border-top-right-radius: 16px;
}

.bottom-right {
    border-bottom-right-radius: 16px;
}

.amenities-columns {
    display: flex;
}

.amenities-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.amenity-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 316px;
}

.reviews {
    padding: 40px 80px;

}


@media (max-width: 1120px) {

    .stay-details,
    .reviews:not(.gallery) {
        padding: 0 40px;
    }
}

@media (max-width: 740px) {
    .third-page {
        width: 100%;
    }
}


@media (max-width: 740px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .left-img {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .gallery-side {
        display: none;
    }

    .heading {
        display: none;
    }
}

@media (max-width: 425px) {
    .sides {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}