.stay-preview {
    color: var(--gray);

    a {
        text-decoration: none;
    }

    .name {
        font-size: .8em;
        font-weight: 500;
        padding-top: .5em;
        padding-inline-start: .2em;
        color: var(--black);
        letter-spacing: .2px;
    }

    .stay-into {
        p {
        }
    }
    
    .image-container {
        img {
            max-width: 100%;
            border-radius: 25px;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }
    }
    
    p {
        margin-block: 0 0.2rem;
        padding-inline-start: .2em;
        font-size: .7em;
        color: var(--gray);
        font-weight: 400;
        letter-spacing: .4px;
    }
}