.stay-index {
    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-block: .3em;
    }

    & .title {
        margin-top: 1em;
        margin-inline-start: 1em;
        font-size: 1.3em;
    }

    & button {
        margin-inline-end: 0;
    }
}