.stay-list {
    --min-column-size: 170px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: 1em;

    li {
        aspect-ratio: 1 / 1;

        display: grid;
        /* grid-template-columns: max-content auto; */
        padding: .5em;
        border-radius: 30px;
        background-color: var(--clr1);

        .actions {
            justify-self: end;

            button {
                padding: 0;
            }
        }
    }
}