.stay-preview {
    color: var(--gray);

    >header {
        font-size: .8em;
        font-weight: 600;
        padding-top: .5em;
        padding-inline-start: .2em;
        color: var(--black);
    }

    .image-container {
        img {
            width: 100%;
            border-radius: 25px;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }
    }

    & p {
        margin-block: 0 0.2rem;
        padding-inline-start: .2em;
        font-size: .7em;
        font-weight: 200;
    }
}