.stay-list {
    --min-column-size: 170px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-column-size), 1fr));
    gap: .8rem;
    margin-top: 0;
    padding-inline: 18px;

    li {
        display: grid;
        justify-items: stretch;

        border-radius: 30px;
        width: 100%;

        .actions {
            justify-self: end;

            button {
                padding: 0;
            }
        }
    }
}