.stay-details {
    padding: 0 80px;
    cursor: pointer;
}

@media (max-width: 1120px) {
    .stay-details:not(.gallery) {
        padding: 0 40px;
    }
}


.third-page {
    width: 66.6%;
}

@media (max-width: 740px) {
    .third-page {
        width: 100%;
    }
}

.heading {
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.description-p {
    padding: 32px 0;
}

h1,
p {
    margin: 0;
}

h3 {
    word-spacing: 5px;
    font-size: 14px;
    margin-top: 5px;
}

.right-heading {
    gap: 10px;
}

.gallery {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 16px;
    gap: 8px;
}

.gallery-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.left-img {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

@media (max-width: 740px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .left-img {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .gallery-side {
        display: none;
    }

    .heading {
        display: none;
    }
}

.gallery-main,
.gallery-side>div {
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery img:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.btn-photos {
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 7px 15px;
    background-color: white;
    color: black;
    border: solid 1px black;
    border-radius: 8px;
    z-index: 10;
}

.top-right {
    border-top-right-radius: 16px;
}

.bottom-right {
    border-bottom-right-radius: 16px;
}

.guests {
    margin: 0;
}

.description {
    padding: 32px 0;
}


.amenities-wrapper {
    display: flex;
    justify-items: center;
    gap: 40px;
}

.divider {
    border-bottom: 0.8px solid var(--gray-light);
    margin: 16px 0;
}

.queue1 div,
.queue2 div {
    margin-bottom: 8px;
    padding: 4px 8px;
    border-radius: 8px;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 4px;
}