.stay-details {
    padding: 0 80px;
}

.third-page{
    width: 66.6%;
}

.heading {
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.description-p{
    padding: 32px 0;
}

h1,p{
     margin: 0;
}

h3{
    word-spacing: 5px;
    font-size: 14px;
    margin-top: 5px;
}

.right-heading {
    gap: 10px;
}

.gallery {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 16px;
    gap: 8px;
}

.gallery-main,
.gallery-side>div {
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery img:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.gallery-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.left-img {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.top-right {
    border-top-right-radius: 16px;
}

.bottom-right {
    border-bottom-right-radius: 16px;
}

.guests {
    margin: 0;
}

.description {
    padding: 32px 0;
}


.amenities-wrapper {
    display: flex;
    justify-items: center;
    gap: 40px;
}

.divider {
  border-bottom: 0.8px solid #ccc;
  margin: 16px 0; 
}

.queue1 div,
.queue2 div {
    margin-bottom: 8px;
    padding: 4px 8px;
    border-radius: 8px;
}

.meta-item {
  display: flex;
  align-items: center; /* ממרכז את האייקון מול הטקסט */
  gap: 4px;
}
